{% extends 'base.html.twig' %}
{% block body %}
        <div style="margin: 0 65px 0 65px;">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('ajouterUser') }}">Rejoignez-nous !</a>
                </div>
                <div class="col-4 text-center">
                    <h2>SneakerWorld</h2>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-secondary" >Connexion</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href="#">Tendances</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Nike'}) }}">Nike</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Air_Jordan'}) }}">Jordan</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Adidas'}) }}">Adidas</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Asics'}) }}">Asics</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Converse'}) }}">Converse</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Puma'}) }}">Puma</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Reebok'}) }}">Reebok</a>
                <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Vans'}) }}">Vans</a>
                    <a class="p-2 text-muted" href="{{ path('sneaker_marque', {'marque': 'Lacoste'}) }}">Lacoste</a>
            </nav>
        </div>

            <br><br>
            <div class="container">
                <div class="row">
                    {% for sneaker in sneakers %}
                        <div class="col-12 col-md-4">
                            <div class="card" style="margin: 0 0 65px 0;">
                                <img class="card-img-top" style="filter : blur(5px);"src="{{ asset('uploads/image/' ~ sneaker.image) }}" alt="{{ sneaker.nom }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ sneaker.nom }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ sneaker.likeSneakers | length }} aiment ça</h6>
                                    <h5 class="card-text">{{ sneaker.price }}€</h5>
                                    <a class="btn btn-primary disabled" href="{{ path('add', {id:sneaker.id}) }}">Aimer</a>
                                    <a class="btn btn-success disabled" href="{{ path('comment.sneaker', {id:sneaker.id}) }}">voir les commentaires</a>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
{% endblock %}

