{% extends 'base.html.twig' %}
{% block body %}
        {% include './/common/notLoggedHeader.html.twig' %}

            <br><br>
            <div class="container">
                <div class="row">
                    {% for sneaker in sneakers %}
                        <div class="col-12 col-md-4">
                            <div class="card" style="margin: 0 0 65px 0;">
                                <img class="card-img-top" style="filter : blur(5px);"src="{{ asset('uploads/image/' ~ sneaker.image) }}" alt="{{ sneaker.nom }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ sneaker.nom }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ sneaker.likeSneakers | length }} {{ 'common.ontlike'|trans }}</h6>
                                    <h5 class="card-text">{{ sneaker.price }}€</h5>
                                    <a class="btn btn-primary disabled" href="{{ path('add', {id:sneaker.id}) }}">{{ 'button.aimer'|trans }}</a>
                                    <a class="btn btn-success disabled" href="{{ path('comment.sneaker', {id:sneaker.id}) }}">{{ 'button.commentaires'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
{% endblock %}

