{% extends 'base.html.twig' %}

{% block body %}

{% include './/common/headeradmin.html.twig' %}
    <main role="main" class="container" style="margin-top: 25px">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'admin.actionspossibles'|trans }}</th>
                    <th scope="col">{{ 'admin.ope'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{{ 'admin.seeuser'|trans }}</td>
                    <td><a href="{{ path('user.list') }}">{{ 'admin.consulter'|trans }}</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>{{ 'admin.manageproduct'|trans }}</td>
                    <td><a href="{{ path('sneaker.list') }}">{{ 'admin.consulter'|trans }}</a></td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>{{ 'admin.addsneaker'|trans }}</td>
                    <td><a href="{{ path('admin_sneaker_add') }}">{{ 'admin.add'|trans }}</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </main>


{% endblock %}
