{% extends 'base.html.twig' %}

{% block body %}
    {% include './/common/headeradmin.html.twig' %}

    <main role="main" class="container">
        <a href="{{ path('admin', {'_locale': app.request.locale}) }}">{{ 'button.retourliste'|trans }}</a>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ 'sneaker.marque'|trans }}</th>
                    <th scope="col">{{ 'sneaker.couleur'|trans }}</th>
                    <th scope="col">{{ 'sneaker.prix'|trans }}</th>
                    <th scope="col">{{ 'sneaker.stock'|trans }}</th>
                    <th scope="col">{{ 'sneaker.image'|trans }}</th>
                    <th scope="col">{{ 'sneaker.modifier'|trans }}</th>
                    <th scope="col">{{ 'sneaker.supprimer'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for sneaker in sneakers %}
                <tr>
                    <th>{{ sneaker.marque }}</th>
                    <td>{{ sneaker.couleur }}</td>
                    <td>{{ sneaker.price }}</td>
                    <td>{{ sneaker.stock }}</td>
                    <td><img src="{{ asset('uploads/image/' ~ sneaker.image) }}" alt="sneakers" width="auto"
                             height="200"
                             style="width: auto ; height: 200px; object-fit: cover;"></td>
                    <td><a href="{{ path('sneaker_modify_edit', {id:sneaker.id}) }} ">
                            <button class="btn btn-success">{{ 'sneaker.modifier'|trans }}</button>
                        </a></td>
                    <td><a href="{{ path('sneaker_modify_delete', {id:sneaker.id}) }}">
                            <button class="btn btn-danger">{{ 'sneaker.supprimer'|trans }}</button>
                        </a></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>


{% endblock %}
