{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container">
        {% include './/common/notLoggedHeader.html.twig' %}


        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ 'header.rejoignez'|trans }}</h5>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{{ 'common.enregistrer'|trans }}</button>
                        </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div><!-- /.row -->

{% endblock %}


