{% extends 'base.html.twig' %}

    {% block body %}

        {% include './/common/header.html.twig' %}

        <br><br>
        <div class="container">
            <div class="row">
                {% for sneaker in sneakers %}
                    <div class="col-12 col-md-4">
                        <div class="card cardCustom">
                            <img class="card-img-top" src="{{ asset('uploads/image/' ~ sneaker.image) }}" alt="{{ sneaker.nom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ sneaker.nom }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ sneaker.likeSneakers | length }} aiment ça</h6>
                                <h5 class="card-text">{{ sneaker.price }}€</h5>
                                <a class="btn btn-primary" href="{{ path('add', {id:sneaker.id}) }}">Aimer</a>
                                <a class="btn btn-success" href="{{ path('comment.sneaker', {id:sneaker.id}) }}">voir les commentaires</a>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>

    {% endblock %}




